
.card {
    display: flex;
    padding: 0.5rem 0;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.2); 
    box-shadow: 2px 2px 10px #7a7a7a;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    height: 100%;
    transition: scale 0.1s ease-in-out;

}

.card:hover {
    scale: 1.05;
}

.card-icon > * {
    width: 48px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.card-title {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 600px) {
    .card {
        display: flex;
        flex-direction: column;
        width: 6rem;
        padding: 1rem 1rem;

    }

    .card-icon > * {
        width: 100%
    }
  }
