:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* To prevent horizontal scrolling */
  color: rgba(255, 255, 255, 0.87);
  background-color: #0d0021;
}

#root, #app {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.page-container {
  display: flex;
  justify-content: center; 
  /* align-items: center; */
  height: 100%;
  width: 100%;
  padding: 1rem;
  /* flex-direction: column; */
  /* flex-grow: 1; */
  overflow-y: auto;
}

.content-container {
  width: 80%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  body {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media only screen and (min-width: 600px) {
  .page-container {
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 80vw;
}


html {
  scrollbar-width: auto;
}


::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 12px;
  width: 6px;
  opacity: 0.1;
  -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: none;
}